.input,
.select,
.button,
input[type="file"]::file-selector-button {
  padding: var(--gap--m);
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  font: inherit;
  color: inherit;
}

.input:is(:hover, :focus):not(:disabled),
.select:is(:hover, :focus):not(:disabled),
.button:is(:hover, :focus):not(.ghost,:disabled),
input[type="file"]:is(:hover, :focus):not(:disabled)::file-selector-button {
  border: 2px solid var(--color-border--active);
}

.button:not(:disabled) {
  cursor: pointer;
  background: none;
  max-width: 200px;
}

.button.ghost {
  border-color: transparent;
}

.button.ghost:is(:hover, :focus):not(:disabled) {
  background-color: var(--color-background-highlight);
}

.button.emphasized:not(:disabled) {
  background-color: var(--color-brand);
}

.button:disabled {
  background: none;
}

.label {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.label.inline {
  flex-direction: row;
  align-items: center;
}

.label.inline.input {
  order: 1;
}

.text {
  text-transform: uppercase;
  font-weight: 600;
}

.label.inline .text {
  order: 2;
  text-transform: none;
}

input[type="checkbox"] {
  inline-size: var(--gap--l);
  block-size: var(--gap--l); 
  outline-offset: 5px;
  accent-color: var(--color-brand);  
  position: relative; 
  transform-style: preserve-3d;
  margin: 0;
  cursor: pointer;
}

.selectWrapper {
  position: relative;  
}

.selectWrapper .icon {
  position: absolute;
  right: 1rem;
  top: 0;
  height: 100%;
  pointer-events: none;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background: none;
}
