.input,
.select,
.button,
input[type="file"]::file-selector-button {
  padding: var(--gap--m);
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
}

.input:is(:hover, :focus),
.select:is(:hover, :focus),
.button:is(:hover, :focus),
input[type="file"]:is(:hover, :focus)::file-selector-button {
  border: 2px solid var(--color-border--active);
}

.button {
  cursor: pointer;
  background: none;
  max-width: 200px;
}

.button.emphasized {
  background-color: var(--color-brand);
}

.label {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.text {
  text-transform: uppercase;
  font-weight: 600;
}
