button {
	cursor: pointer;
	color: var(--main-text-color--darker);
	background-color: transparent;
	padding: var(--gutter-size);
	border: 2px solid var(--main-color-divider--lighter);
	border-radius: 25px;
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: var(--font-weight--bold);
	transition: .13s background-color ease-out;
}

button.small {
	font-size: 1rem;
	padding: var(--gutter-size--small) var(--gutter-size);
}

button:hover,
button:active,
button:focus {
	color: var(--main-color--darker);
	background-color: var(--main-text-color);
}

button.ghost {
	border: 0;
}

button.ghost:hover,
button.ghost:active,
button.ghost:focus {
	background-color: var(--main-color--lightest);
}

button.cta {
	background-color: var(--main-cta-color);
	border-color: transparent;
}

button.cta:hover,
button.cta:active,
button.cta:focus {
	color: currentColor;
	background-color: var(--main-cta-color--darker);
}
