:root {
    /* LAYOUT */
    --default-grid-size: 8px;
    --default-grid-size--large: calc(var(--default-grid-size) * 2);
    --default-grid-size--xlarge: calc(var(--default-grid-size) * 4);

    /* COLORS */
    --default-color-brand: #38bd3c;
    --default-color-brand-text: #fff;

    /* FONTS */
    --default-font-size: 16px;
    --default-font-weight: 400;
    --default-font-family: Arial, sans-serif;
}
