{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "jest": true,
        "browser": true
    },
    "plugins": [
        "filenames",
        "import"
    ],
    "rules": {
        "array-bracket-spacing":            ["error"],
        "complexity":                       ["error", 10],
        "eol-last":                         ["error", "always"],
        "filenames/match-exported":         ["error", "kebab"],
        "filenames/match-regex":            ["error", "^[a-z-.]+$", true],
        "import/extensions":                ["error", "never"],
        "indent":                           ["error", 4],
        "no-trailing-spaces":               ["error"],
        "object-curly-spacing":             ["error", "always"],
        "padded-blocks":                    ["error", "never"],
        "padding-line-between-statements":  ["error",
            { blankLine: "always", prev: "*", next: "return" },
            { blankLine: "always", prev: "*", next: "break" },
            { blankLine: "always", prev: "*", next: "if" },
            { blankLine: "always", prev: "if", next: "*" }
        ],
        "space-in-parens":                  ["error", "never"]
    }
}
