node_modules

# Mac
.DS_Store

# Yarn
.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE stuff
.idea
.editorconfig
.project

# Build
build
size-plugin.json

# Svelte
.svelte-kit

# Stylelint
.stylelintcache
/test-results/
/playwright-report/
/playwright/.cache/
