@import '../../import/variables';

.full-page-modal {
    padding: $gutter-size;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-light-background;
    z-index: $highest-z;

    .title {
        padding: $button-padding;
        font-size: $font-size-largest;
    }
}