@import '../../import/variables';

.full-page-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-light-background;
    z-index: $highest-z;

    .header {
        display: flex;
        padding: $gutter-size;
    }

    .title {
        flex-grow: 1;
        padding: $button-padding;
        font-size: $font-size-largest;
    }

    .content {
        padding: $gutter-size;
    }
}