@import '../../import/variables';

.notification-container {
    position: fixed;
    top: $app-bar-height + $gutter-size;
    width: 100%;
    box-sizing: border-box;
    padding: $gutter-size;
    z-index: $high-z;
    background-color: $color-notification;
}