:root {
  --gap: 8px;
  --gap--m: 12px;
  --gap--l: 16px;
  --gap--xl: 32px;
  --color-brand: rgb(236 179 66);
  --color-brand--light: rgb(240 225 195);
  --color-error: rgb(236 66 66);
  --color-border: rgb(172 172 172);
  --color-border--light: rgb(0 0 0 / 20%);
  --color-border--active: rgb(0 0 0);
  --color-border--branded: rgb(255 255 255);
  --color-background: rgb(255 255 255);
  --color-text: rgb(0 0 0);
  --color-text--brand: rgb(255 255 255);
  --color-text--dark: rgb(40 40 40);
  --color-text--disabled: rgb(172 172 172);
  --color-link: rgb(6 95 212);
  --color-background--alt: rgb(245 245 245);
  --color-background-highlight: rgb(222 222 222);
  --color-loading: rgb(172 172 172);
  --color-box-shadow: rgb(38 46 72 / 15%);
  --border-radius: 8px;
  --border-radius--m: 12px;
  --border-width: 2px;
  --animation-duration: 3s;
  --animation-duration--s: .4s;
  --z-index--s: 10;
  --z-index--m: 20;
  --z-index--l: 30;
  --z-index--xl: 40;
  --z-index--xxl: 100;
}

html,
body {
  min-height: 100%;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  outline-color: var(--color-brand);
}

input {
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  border-bottom: 1px solid var(--color-border);
}

ul li:is(:active, :hover) {
  border-color: var(--color-border--active);
}

* {
  box-sizing: border-box;
}

main {
  padding: var(--gap--l);
}

main > *:first-child {
  margin-top: 0;
}

section {
  margin: var(--gap--xl) 0;
}

svg {
  fill: var(--color-text);
}

a {
  color: var(--color-link);
}

/* ANIMATIONS */
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-in {
  from { transform: translateY(10px); }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(26 26 26);
    --color-text: rgb(241 241 241);
    --color-link: rgb(62 166 255);
    --color-text--brand: rgb(40 40 40);
    --color-text--disabled: rgb(87 87 87);
    --color-background--alt: rgb(40 40 40);
    --color-background-highlight: rgb(129 129 129);
    --color-box-shadow: rgb(0 0 0 / 10%);
  }
}
