.item {
  max-inline-size: min(25ch, 90vw);
  padding: var(--gap--l);
  border-radius: var(--border-radius);
  will-change: transform;
  animation:
    fade-in 0.3s ease,
    slide-in 0.3s ease,
    fade-out 0.3s ease var(--animation-duration);
  animation-fill-mode: forwards;
  background-color: var(--color-border);
}

.item.alert {
  background-color: var(--color-error);
  color: var(--color-background);
}
