.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gutter-size--large);
  flex-direction: column;
}

.noAuth {
  width: 200px;
  color: var(--secondary-text-color);
  fill: currentColor;
  stroke: currentColor;
}

.cls1,
.cls2 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls1 {
  stroke-width:3px;
}

.cls2 {
  stroke-width:2px;
}
