.toast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: var(--gutter-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast .container {
  max-width: 600px;
  background-color: var(--main-color--lighter);
  display: flex;
  align-items: center;
}

.toast .content {
  margin: var(--gutter-size);
  margin-right: 0;
  padding-right: var(--gutter-size);
  flex-grow: 1;
  border-right: 1px solid var(--main-color-divider--darker);
}

.toast .buttons {
  padding: 0 var(--gutter-size);
  margin: var(--gutter-size) 0;
  flex-grow: 0;
}
