.button {
    border: 0 none;
    padding: var(--grid-size--large, --default-grid-size--large);
    outline: none;
    cursor: pointer;
    font: inherit;
}

.button.active {
    background-color: var(--color-brand, --default-color-brand);
    color: var(--color-brand-text, --default-color-brand-text);
}
