.button {
    border: 0 none;
    padding: var(--grid-size--large, var(--default-grid-size--large));
    outline: none;
    cursor: pointer;
    font: inherit;
    background-color: var(--color-brand, var(--default-color-brand));
    color: var(--color-brand-text, var(--default-color-brand-text));
}

.button.disabled {
    opacity: 0.5;
    user-select: none;
}
