.padded {
    padding: var(--padded-size, var(--default-grid-size)) !important;
}

.padded--l {
    padding: var(
        --padded-size--large,
        var(--default-grid-size--large)
    ) !important;
}

.margin {
    margin: var(--margin-size, var(--default-grid-size)) !important;
}

.margin--l {
    margin: var(
        --margin-size--large,
        var(--default-grid-size--large)
    ) !important;
}
