:root {
  /* SPACING */
  --gap-size: 8px;
  --gap-size--l: 12px;
  --gap-size--xl: 18px;

  /* FONTS */
  --font-size: 16px;
  --font-size--s: 1.2rem;
  --font-size--m: 1.4rem;
  --font-size--l: 1.6rem;
  --font-size--xl: 1.8rem;
  --font-size--xxl: 2rem;

  
  /* PALETTE */
  --color-white: white;
  --color-off-white: rgb(229 232 238);
  --color-brand: rgb(65 67 95); 
  --color-off-brand: rgb(104, 106, 129); 
  
  /* COLORS */
  --color-neutral: var(--color-off-white);
  --color-neutral--complement: var(--color-white);
  --color-text: var(--color-brand);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--color-text);
  fill: var(--color-text);
}

body {
  font-family: system-ui;
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-neutral);
}

.dark-theme {
  --color-neutral: var(--color-off-brand);
  --color-neutral--complement: var(--color-brand);
  --color-text: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neutral: var(--color-off-brand);
    --color-neutral--complement: var(--color-brand);
    --color-text: var(--color-white);
  }
}
