.popover {
	position: absolute;
	right: 0px;
	padding: var(--gutter-size);
	list-style: none;
	margin: 0px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.13s ease-in-out 0s, visibility 0.13s linear 0s;
}

.popover.open {
	visibility: visible;
	opacity: 1;
}
