$color-main-background:                 #39ad66;
$color-main-text:                       #fff;
$color-main-background-invert:          $color-main-text;
$color-main-text-invert:                $color-main-background;
$color-neutral-background:              #e5e5e5;
$color-dark-neutral-background:         #ccc;
$color-list-item-highlight:             #f0f0f0;