$color-main-brand:                      #39ad66;
$color-main-background:                 #39ad66;
$color-main-text:                       #fff;
$color-main-background-invert:          $color-main-text;
$color-main-text-invert:                $color-main-background;
$color-neutral-background:              #e5e5e5;
$color-light-neutral-background:        #f5f5f5;
$color-dark-neutral-background:         #ccc;
$color-list-item-highlight:             #f0f0f0;
$color-filter:                          #b12222;
$color-subtitle:                        #a9a9a9;