.profileItem {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--gap);
}

.name {
  align-self: center;
  flex-grow: 1;
}

.profileItem.selected .name {
  font-weight: bolder;
}

.controls {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}
