.item {
  display: flex;
  flex-direction: column;
  gap: var(--gap--m);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: var(--gap--m);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap--m);
  flex-grow: 1;
  justify-items: center;
}
