.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
  background-color: var(--color-background--alt);
  box-shadow: 0 4px 4px var(--color-box-shadow);
  padding: var(--gap);
  gap: var(--gap--l);
  transition: background-color var(--animation-duration--s) ease-in;
}

.header:hover {
  background-color: var(--color-brand);
}

.header .profileContainer {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.menu {
  display: flex;
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 0;
  margin: 0;
  border: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translateX(-110%);
  background-color: var(--color-background--alt);
  box-shadow: 4px 0 4px var(--color-box-shadow);
  transition: transform var(--animation-duration--s) ease-in;
  z-index: var(--z-index--xxl);
}

.menu[open] {
  display: flex;
  transform: translateX(0);
}

.menu .closeMenuContainer {
  width: 100%;
  max-width: none;
  text-align: left;
}

.nav { 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav > * {
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
  padding: var(--gap--l);
  text-transform: capitalize;
  border-radius: 0;
}

.nav > *:is(:hover, :focus, :active)  {
  background-color: var(--color-background-highlight);
}
