:root {
  /* COLORS */
  --main-color: rgb(50, 50, 50);
  --main-color--lighter: rgb(116, 116, 116);
  --main-color--lightest: rgb(130, 130, 130);
  --main-color--darker: rgb(37, 37, 37);
  --main-color-invert: #fff;
  --main-text-color: #fff;
  --main-cta-color: rgb(20, 115, 230);
  --main-cta-color--darker: rgb(13, 102, 208);
  --main-cta-text-color: rgb(255, 255, 255);
  --main-text-color--darker: rgb(227, 227, 227);
  --secondary-text-color: rgb(185, 185, 185);
  --cta-text-color: rgb(255, 181, 91);
  --cta-text-color--secondary: rgb(63, 200, 156);
  --main-color-divider: rgb(62, 62, 62);
  --main-color-divider--darker: rgb(144, 144, 144);
  --main-color-divider--lighter: rgb(227, 227, 227);
  --main-color-divider--highlighted: rgb(90, 90, 90);
}
