@import 'import/variables';

.activity-list {
    margin: $gutter-size;
    background-color: $color-light-neutral-background;
    border: 1px solid $color-neutral-background;

    li {
        padding: $gutter-size;
    }
}