#header-profile-container {
    float: right;
    padding: 8px 8px 8px 0;

    .profile-container {
        display: inline-block;
    }

    .logout,
    .profile-picture {
        cursor: pointer;
        vertical-align: middle;
    }
}