@import '../import/variables';

#app-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $gutter-size * 2;
    padding: $gutter-size;
    background-color: $color-main-background;
    display: flex;
    z-index: $highest-z;

    #toggle-container {
        flex: 1;
    }

    #filter-container {
        flex: 2;
        position: relative;
        overflow: hidden;

        .icon-search {
            position: absolute;
            top: 17px;
            left: 8px;

            &.filtered {
                color: $color-filter;
            }
        }
    }

    #profile-container {
        flex: 1;
        min-width: 100px;
    }
}

#header-filter {
    background-color: rgba(255, 255, 255, 0.08);
    transition: background-color 0.2s;
    padding: 0 16px 0 28px;
    box-sizing: border-box;
    height: 48px;
    border: none;
    width: 100%;
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    font-weight: 400;
    outline: none;

    &::-webkit-input-placeholder {
        color: #fff;
    }

    &:focus {
        background-color: rgba(255, 255, 255, 0.24);
    }
}

.icon-menu {
    &:before,
    &:after {
        display: block;
    }
}

@media (min-width: 600px) {
    #app-bar-container {
        #filter-container {
            .icon-search {
                left: 28px;
            }
        }
    }

    #header-filter {
        padding-left: 68px;
    }
}