@import '../import/variables';

.profile-info {
    min-width: 260px;

    .name {
        font-size: 18px;
    }

    .email {
        color: $color-subtitle;
    }

    .weight {
        margin-top: 12px;
    }

    .activities {
        margin-top: 12px;
    }

    .activity {
        display: inline-block;
        font-size: 20px;
        vertical-align: middle;

        :before {
            margin-right: 12px;
        }
    }
}
