.list-item {
    display: flex;
}

.list-item.bordered {
    border-bottom: 1px solid var(--color-border, var(--default-color-border));
}

.list-item:hover {
    box-shadow: var(--list-item-shadow, var(--default-shadow));
}

.list-item > * {
    flex-grow: 1;
}

.last-right .list-item :last-child {
    align-self: flex-end;
    flex-grow: 0;
}
