/* SIZES */
$gutter-size:                           12px;
$app-bar-height:                        60px;

/* Z-INDEXES */
$highest-z:                             1000;
$high-z:                                 800;
$medium-z:                               600;
$low-z:                                  400;
$lowest-z:                               200;

/* COLORS */
$color-main-brand:                      #43a047;
$color-main-background:                 #43a047;
$color-main-text:                       #fff;
$color-main-background-invert:          $color-main-text;
$color-main-text-invert:                $color-main-background;
$color-neutral-background:              #e5e5e5;
$color-light-neutral-background:        #f5f5f5;
$color-dark-neutral-background:         #ccc;
$color-list-item-highlight:             #f0f0f0;
$color-filter:                          #b12222;
$color-subtitle:                        #a9a9a9;
$color-footer-background:               #585858;
$color-footer-text:                     #fff;
$color-alert:                           #db4437;
$color-error:                           $color-alert;