@import "../util/colors.scss";
@import "../util/typography.scss";
@import "../util/shadows.scss";

#main-header-nav {
    @include small-bottom-shadow;

    .nav-list {
        @include primary-bg;
        overflow: hidden;
        list-style-type: none;
    }

    .nav-item {
        float: left;
    }

    .nav-item:hover,
    .nav-item:active,
    .nav-item.active {
        @include primary-active-bg;
    }

    .nav-link {
        @include font-m2;
        display: block;
        padding: 8px 20px;
        text-decoration: none;
        color: inherit;
    }
}