@import "../util/colors.scss";
@import "../util/typography.scss";
@import "../util/shadows.scss";

#main-header-nav {
    @include small-bottom-shadow;
    @include primary-bg;
    overflow: hidden;

    .nav-list {
        overflow: hidden;
        list-style-type: none;
        float: left;
    }

    .nav-item {
        @include font-m2;
        padding: 8px 20px;
        float: left;
        cursor: pointer;
    }

    .nav-item:hover,
    .nav-item:active,
    .nav-item.active {
        @include primary-active-bg;
    }

    .nav-link {
        display: block;
        text-decoration: none;
        color: inherit;
        font: inherit;
    }

    #profile-container {
        float: right;
    }
}