.header {
	padding: var(--gutter-size);
	background: var(--main-color);
}

.header nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #FFF;
	height: 48px;
}

.header nav > * {
	margin-left: var(--gutter-size);
}

.header .avatar {
	border-radius: 100%;
	border: 1px solid var(--main-color-invert);
	height: 100%;
	min-width: 46px;
	min-height: 46px;
}
