.container {
  position: relative;
}

.menu {
  position: absolute;
  top: calc(100% + var(--gap));
  inset-inline-start: auto;
  background-color: var(--color-background--alt);
  box-shadow: 0 4px 32px 0 var(--color-box-shadow);
  border-radius: var(--border-radius--m);
}

.menu li {
  border-bottom: 1px solid var(--color-border--light);
  display: flex;
}

.menu li:last-child {
  border-bottom-width: 0;
}

.menu li:hover {
  background-color: var(--color-background-highlight);
}

.menu .item {
  padding: var(--gap--l) var(--gap--xl);
  display: flex;
  gap: var(--gap);
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  border: var(--border-width) solid transparent; /* same as focus but transparent */
}

.menu .item:is(:active, :focus, :hover) {
  border-radius: 0;
}
