.content {
	height: 100%;
	display: flex;
	align-items: center;
}

.avatar {
	border-radius: 100%;
	border: 1px solid var(--main-color-divider);
	height: 100%;
	min-width: 46px;
	min-height: 46px;
	margin-left: var(--gutter-size);
}

.avatar:hover {
	border: 1px solid var(--main-color-divider--highlighted);
}
