dialog {
  padding: 0;
  border: 0;
  z-index: var(--z-index--m);
}

.backdrop {
  background-color: black;
  position: fixed;
  z-index: var(--z-index--s);
  inset: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: all var(--animation-duration--s) ease-in;
}

.backdrop.transparent {
  background-color: transparent;
}

.backdrop.open {
  visibility: visible;
  opacity: .3;
}
