@import '../import/variables';

.shadow {
    box-shadow: rgba(0, 0, 0, .15) 0 2px 4px 0;
}

.hidden {
    display: none;
}

.separated {
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0;

    &.bottom {
        border-bottom-width: 1px;
    }

    &.top {
        border-top-width: 1px;
    }

    &.vertical {
        border-width: 1px 0;
    }
}

.rounded {
    border-radius: 4px;

    &.very {
        border-radius: 8px;
    }
}

.floating {
    position: fixed;

    &.right {
        right: $gutter-size;
    }

    &.bottom {
        bottom: $gutter-size;
    }
}

.absolute {
    position: absolute;

    &.top {
        top: $gutter-size;
    }

    &.right {
        right: $gutter-size;
    }
}

.fader-enter {
    opacity: 0;

    &.fader-enter-active {
        opacity: 1;
        transition: opacity .6s ease;
    }
}

.fader-leave {
    opacity: 1;

    &.fader-leave-active {
        opacity: 0;
        transition: opacity .6s ease;
    }
}


@media (min-width: 600px) {
    .padded {
        padding: $gutter-size;
    }
}