<template name="layout">
    <div id="main-container">
        <header id="header-container">
            <nav id="main-header-nav">
                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link" href="{{pathFor 'home'}}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{pathFor 'workoutsList'}}">Workouts</a></li>
                </ul>
                <div id="profile-container" class="nav-item">
                    {{#if currentUser}}
                    <a id="logout" class="nav-link">Sign out</a>
                    {{else}}
                    <a class="nav-link" href="{{pathFor 'loginPage'}}">Sign in</a>
                    {{/if}}
                </div>
            </nav>
        </header>
        <section id="page-container">
            {{> yield}}
        </section>
        <footer id="footer-container">
            &copy;footer
        </footer>
    </div>
</template>