<template name="layout">
    <div id="main-container">
        <header id="header-container">
            <nav id="main-header-nav">
                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link" href="{{pathFor 'home'}}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{pathFor 'workoutsList'}}">Workouts</a></li>
                </ul>
            </nav>
        </header>
        <section id="page-container">
            {{> yield}}
        </section>
        <footer id="footer-container">
            &copy;footer
        </footer>
    </div>
</template>