.shadow {
    box-shadow: rgba(0, 0, 0, .15) 0 2px 4px 0;
}

.hidden {
    display: none;
}

.separated {
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0;

    &.bottom {
        border-bottom-width: 1px;
    }

    &.top {
        border-top-width: 1px;
    }
}