@import 'import/variables';

.side-drawer {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    width: 240px;
    transition: transform 1s ease;
    background-color: #fff;

    &.open {
        transform: translateX(0);
    }

    .item {
        padding: 12px;
        font-size: 16px;

        &:hover {
            background-color: $color-list-item-highlight;
        }
    }

    .drawer-opener {
        padding: 12px;
    }
}

.drawer-opener {
    padding: 4px 8px;

    .icon-menu {
        font-size: 24px;
    }
}