@import 'import/variables';

.row {
    display: flex;
    
    &.equal > div {
        flex-grow: 1;
    }
}

.button-main {
    display: inline-block;
    background-color: $color-main-background;
    color: $color-main-text;
    min-width: 80px;
    box-sizing: border-box;
    text-align: center;
    outline-width: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;
    padding: 8px 12px;

    &.upper {
        text-transform: uppercase;
    }

    &.invert {
        background-color: $color-main-background-invert;
        color: $color-main-text-invert;
    }
}

.anything-closer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
}