@import 'import/variables';

.event {
    .title {
        display: flex;
        padding: 16px 12px;

        .sports-icon {
            margin-right: 8px;
            font-size: 16px;
            line-height: 20px;
        }

        .name {
            flex: 1;
        }

        .date {
            flex: 1;
            text-align: right;
            color: $color-subtitle;
        }
    }

    .content-header {
        > div {
            padding: 12px;
        }

        .start {
            text-align: right;
        }

        .end {
            text-align: left;
        }

        .clock {
            margin: 0 8px;
        }
    }

    .guests-container {
        padding: 12px;

        .guests {
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px;
            font-size: 0;

            .item {
                display: inline-block;
                margin-right: 12px;
                font-size: 0;
            }
        }

        .RSVP {
            margin-left: 0;
            vertical-align: middle;
        }
    }
}

@media (min-width: 600px) {
    .event {
        .title {
            .name {
                flex: 3;
            }
        }
    }
}