@import 'import/variables';

.event {
    .title {
        display: flex;

        .name {
            flex: 3;
        }

        .date {
            flex: 1;
            text-align: right;
            color: $color-subtitle;
        }
    }

    .content-header {
        > div {
            padding: 12px;
        }

        .start {
            text-align: right;
        }

        .end {
            text-align: left;
        }

        .clock {
            margin: 0 8px;
        }
    }

    .guests-container {
        padding: 12px;

        .guests {
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px;
            font-size: 0;
        }

        .guest {
            display: inline-block;
            margin-right: 12px;
            font-size: 0;
        }

        .RSVP {
            margin-left: 0;
            vertical-align: middle;
        }
    }
}