@import 'import/variables';

#app-bar-container {
    margin-bottom: 32px;
    padding: 12px;
    background-color: $color-main-background;
    display: flex;

    #toggle-container {
        flex: 1;
    }

    #filter-container {
        flex: 2;
        position: relative;

        .icon-search {
            position: absolute;
            top: 17px;
            left: 8px;

            &.filtered {
                color: $color-filter;
            }
        }
    }

    #profile-container {
        flex: 1;
        min-width: 100px;
    }
}

#header-filter {
    background-color: rgba(255,255,255,0.16);
    transition: background-color 0.2s;
    padding: 0 16px 0 28px;
    box-sizing: border-box;
    height: 48px;
    border: none;
    border-radius: 3px;
    width: 100%;
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    font-weight: 400;
    outline: none;

    &::-webkit-input-placeholder {
        color: #fff;
    }
}

.icon-menu {
    &:before,
    &:after {
        display: block;
    }
}

@media (min-width: 600px) {
    #app-bar-container {
        #filter-container {
            .icon-search {
                left: 28px;
            }
        }
    }

    #header-filter {
        padding-left: 68px;
    }
}