.image-list {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;

    .item {
        flex: 1 0 auto;
        min-width: 200px;
        background: no-repeat 50% 50% / cover #222;
        min-height: 200px;
        outline: 5px solid #fff;
        overflow: hidden;
    }

    .image {
        width: 100%;
    }
}