.profile-container {
    position: relative;
    -webkit-user-select: none;
    user-select: none;

    .bubble {
        padding: 16px;
    }

    .profile-bubble-content {
        .logout {
            margin-top: 24px;
            float: right;
            clear: left;
        }
    }
}