.profile-container {
    .bubble {
        padding: 16px;
    }

    .profile-bubble-content {
        .logout {
            margin-top: 24px;
            float: right;
            clear: left;
        }
    }
}