.tooltip {
    position: absolute;
    top: -9999em;
    z-index: 1;
    margin: -14px 0 0 10px;
    padding: 4px 10px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    line-height: 20px;
    transition: opacity .3s ease, left .3s ease;
    opacity: 0;
    white-space: nowrap;

    &.left {
        right: 150%;

        &:before {
            right: -8px;
        }
    }

    &.right {
        left: 150%;

        &:before {
            left: -8px;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -4px;
        border: 4px solid transparent;
        border-right-color: rgba(0,0,0,.8);
    }
}

.tooltiped:hover {
    position: relative;

    .tooltip {
        opacity: 1;
        top: 50%;

        &.left {
            right: 100%;
        }

        &.right {
            left: 100%;
        }
    }
}