name: Install

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  install:
    timeout-minutes: 1
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '14'
    - name: Run yarn install
      run: yarn install --frozen-lockfile
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
