html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--main-color);
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: var(--main-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

button {
	color: black;
	background-color: transparent;
	padding: var(--gutter-size);
	border: 0 none;
}
