:root {	
	/* LAYOUT */
  --gutter-size: 16px;
  --gutter-size--small: 8px;
	
  /* TEXT */
	--font-weight--bold: 700;
	
	/* BORDER */
	--border-radius--small: 5px;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--main-color);
	font-family: adobe-clean, "Source Sans Pro", -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
	font-size: 14px;
	line-height: 1.4rem;
	color: var(--main-text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
	margin-top: 0;
}

.cta-text {
	color: var(--cta-text-color);
}

.cta-text--secondary {
	color: var(--cta-text-color--secondary);
}

.centered {
	align-self: center;
}

.rounded--small {
	border-radius: var(--border-radius--small);
}

.text--emphasized {
	font-weight: var(--font-weight--bold);
}

svg.icon {
	width: 10px;
	height: 10px;
	fill: var(--main-text-color);
}

.shadow {
	will-change: filter;
	filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 1px 4px);
}
