html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--main-color);
	font-family: adobe-clean, "Source Sans Pro", -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
	font-size: 14px;
	color: var(--main-text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

button {
	color: var(--main-text-color--darker);
	background-color: transparent;
	padding: var(--gutter-size);
	border: 2px solid var(--main-color-divider--light);
	border-radius: 25px;
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: var(--font-weight--bold);
	transition: .13s background-color ease-out;
}

button.small {
	font-size: 1rem;
	padding: var(--gutter-size--small) var(--gutter-size);
}

button:hover,
button:active,
button:focus {
	color: var(--main-color--darker);
	background-color: var(--main-text-color);
	cursor: pointer;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
	margin-top: 0;
}
