@import "../util/variables.scss";

@mixin primary-bg {
    background-color: $primary-color;
    color: #fff;
}

@mixin secondary-bg {
    background-color: $secondary-color;
    color: $gray-1-color;
}

@mixin gray-1-bg {
    background-color: $gray-1-color;
    color: $gray-1-font-color;
}