// Large fonts
@mixin font-l3 {
    font-size: 48px;
    line-height: 56px;
}

@mixin font-l2 {
    font-size: 40px;
    line-height: 48px;
}

@mixin font-l1 {
    font-size: 36px;
    line-height: 44px;
}

// Medium fonts
@mixin font-m3 {
    font-size: 28px;
    line-height: 32px;
}

@mixin font-m2 {
    font-size: 22px;
    line-height: 26px;
}

@mixin font-m1 {
    font-size: 18px;
    line-height: 22px;
}

// Small fonts
@mixin font-s3 {
    font-size: 14px;
    line-height: 20px;
}

@mixin font-s2 {
    font-size: 12px;
    line-height: 18px;
}

@mixin font-s1 {
    font-size: 10px;
    line-height: 16px;
}